{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="abdellah">
    <div class="dashboard-container">
        <!-- Left section for the image -->
        <div class="dashboard-left">
            <img src="{% static 'images/Analysis-amico.png' %}" class="dashboard-image" alt="Analysis Illustration">
        </div>
        
        <!-- Right section for the content -->
        <div class="dashboard-right">
            <h2>Quizzes Analytics :</h2>

            <div class="dashboard-section">
                <!-- <h3>Your Quiz History</h3> -->
                {% if quiz_history %}
                    <ul>
                        {% for result in quiz_history %}
                            <li>
                                {{ result.quiz.name }}
                                ||  Score: {{ result.score }}
                                ||  Date: {{ result.date_taken|date:"d/m/Y h:i a" }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No quiz history available.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
